@model IEnumerable<AnimeANdGameMusic.Models.GenreDto>

@{
    ViewBag.Title = "New";
}

<h1>Gamers Hub</h1>
<h2>Add A New Game</h2>

<form action="/Game/Create" method="POST">
    <div class="addInput">
        <label>Game Name:</label> <input type="text" name="GameName" />
    </div>
    <div class="addInput">
        <label>Release Year:</label> <input type="number" name="ReleaseYear" />
    </div>
    <div class="addInput">
        <label>Description:</label> <input type="text" name="Description" />
    </div>
    <div class="addInput">
        <label>Price:</label> <input type="number" name="Price" />
    </div>
    <div class="addInput">
        <label>Game Genre:</label>
        <select name="GenreID">
            @foreach (var genre in Model)
            {
                <option value="@genre.GenreId">@genre.GenreTitle</option>

            }
        </select>
    </div>
    <div id="btnContainer">
        <div>
            <input type="submit" value="Add Game" id="addBtn" />
        </div>
        <div>
            <a id="backbtn" href="/Game/List">Back to List</a>
        </div>
    </div>
</form>