@model AnimeANdGameMusic.Models.GenreDto
@{
    ViewBag.Title = "View";
}

<a href="/Genre/List">Go back to list</a>
<br />
<a href="/Genre/Edit/@Model.GenreId">Update</a>
<br />
<a href="/Genre/DeleteConfirm/@Model.GenreId">Delete</a>
<br />

<h2>@Model.GenreTitle</h2>