@model AnimeANdGameMusic.Models.GenreDto

@{
    ViewBag.Title = "Edit Genre";
}

<h2>Edit Genre</h2>
<form action="/Genre/Update/@Model.GenreId" method="POST">
    <div style="display:none;">
        <input name="GenreId" type="text" value="@Model.GenreId" />
    </div>
    <div>
        <label>Name:</label> <br />
        <input name="GenreTitle" type="text" value="@Model.GenreTitle" />
    </div>
    <br />
    <div>
        <input type="submit" value="Update Genre" />
    </div>
</form>