@model IEnumerable<AnimeANdGameMusic.Models.GenreDto>
@{
    ViewBag.Title = "Genre List";
}

<h2>Genre List</h2>
<a href="/Genre/New">New Genre</a>
@foreach (var Genre in Model)
{
    <h2><a href="/Genre/Details/@Genre.GenreId">@Genre.GenreTitle</a></h2>
}