@using System.Globalization

@model AnimeANdGameMusic.Models.ViewModels.DetailsAnime
@{
    ViewBag.Title = "View";
}

<a href="/Anime/List">Go back to list</a>
<br />
@if (User.Identity.IsAuthenticated)
{
    <a href="/Anime/Edit/@Model.SelectedAnime.AnimeID">Update</a>
    <br />
    <a href="/Anime/DeleteConfirm/@Model.SelectedAnime.AnimeID">Delete</a>
    <br />
}

<div style="display: flex; gap: 25px;">
    <div>
        <h2>@Model.SelectedAnime.AnimeName</h2>
        <div>Release Date: @Model.SelectedAnime.ReleaseDate.ToString("MMM dd, yyyy", new CultureInfo("en-US"))</div>
        <div>Description: @Model.SelectedAnime.Description</div>
        <div>Genre: @Model.SelectedAnime.GenreTitle</div>
    </div>
</div>
